/* header {
    padding-top: 2rem;
    padding-bottom: 4rem;
    
    /* border-bottom: 1px solid black;
    margin: 0 auto;
        width: 80%; 
} */

section{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 42rem;
    padding: 1.625rem 1.3125rem;
}

.exp-column1 {
    margin-bottom: 3em;
    max-width: 500px;
}

.exp-column1 h2{
    font-size: 1.8em;
    font-weight: bold;
}

.exp-column1 h3 {
    font-size: 1.4em;
    color: #6c757d;
    
}

.exp-column2{
    text-align: right;
    
}

.exp-column2 span{
    font-family: Helvetica, sans-serif;
    font-size: 1em;
    color: #6c757d;
  
}

