h4{
    font-weight: bold;
    
}


.project-column{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    gap: 2em;
    margin-bottom: 2em;
    
}

.project-column img{

        object-fit: contain;
        height: 100%;
        vertical-align: middle;
        
    }

